* {
  margin: 0;
  padding: 0;
}

body {
  font-size: xxx-large;
  color: white;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: antiquewhite;
  align-content: stretch;
  justify-content: center;
}

.interior {
  width: 300px;
  height: 300px;
  background-color: rgb(13, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fuera {
  background-color: aquamarine;
  width: 400px;
  height: 400px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dentro {
  background-color: rgb(93, 17, 27);
  width: 100px;
  height: 100px;
}

.imagenes {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
}

.img-int {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}

img {
  width: 100px;
  height: 100px;
}

.img-fondo {
  background-image: url("img/Heather-Baker-10-things-we-learned-about-filming-an-online-course.jpg");
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: right;
}
